<div class="banner">
  <img class="banner__img" src="../../assets/banner-main.png">
  <div class="banner__text main">Barczik</div>
  <div class="banner__text desc">I haven’t done everything, but it’s on my list</div>
</div>
<div class="text">
  Witaj, jestem Barczik, student z nie tylko sportowym zacięciem. Chcesz zobaczyć jak wygrywam życie?
</div>
<div class="boxes row">
  <div class="boxes__box">
    <img src="../../assets/sport.png">
    <div class="boxes__box-label">
      <p>Sport</p>
    </div>
  </div>
  <div class="boxes__box">
    <img src="../../assets/dev.png">
    <div class="boxes__box-label">
      <p>Programowanie</p>
    </div>
  </div>
  <div class="boxes__box">
    <img src="../../assets/lifestyle.png">
    <div class="boxes__box-label">
      <p>Styl życia</p>
    </div>
  </div>
</div>
<div class="recommend-bar">
  <div class="row h-center">
    <div class="recommend-bar__item">POLECAM</div>
    <div class="recommend-bar__item">COS</div>
    <div class="recommend-bar__item">COS</div>
    <div class="recommend-bar__item">COS</div>
  </div>
</div>
