.navbar{
  background-color: #F2F2F2;
  height: 60px;
  position: fixed;
  top: 0;
  width: fill-available;
  display: flex;
  flex-direction: row;
  padding: 0 200px;
  align-items: center;
  z-index: 10;
  justify-content: space-between;

  &__nav-item{
    margin: 10px;
    color: #464646;
    //font-family: "Calibri Light", sans-serif;
    cursor: pointer;
    &:hover{
      opacity: 60%;
    }
  }
  &__social-media{

  }
}
