<div>
  <div class="navbar">
    <div class="row h-center">
      <div class="navbar__nav-item"><a><img class="banner__img" src="../assets/home.svg"></a></div>
      <div class="navbar__nav-item"><a>O mnie</a></div>
      <div class="navbar__nav-item"><a>Sport</a></div>
      <div class="navbar__nav-item"><a>Programowanie</a></div>
      <div class="navbar__nav-item"><a>Życie</a></div>
      <div class="navbar__nav-item"><a>Cele</a></div>
      <div class="navbar__nav-item"><a>Galeria</a></div>
    </div>
    <div class="navbar__social-media row">
      social media
    </div>
  </div>
  <app-homepage></app-homepage>
  <app-footer></app-footer>
  <router-outlet></router-outlet>
</div>
